# =============================================================================
# Docker Compose - Variables de Entorno para PostgreSQL
# =============================================================================

POSTGRES_USER=sici_user
POSTGRES_PASSWORD=sici_password
POSTGRES_DB=sici_db
POSTGRES_PORT=5433
